@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-8">Welcome</h1>
    <h3>The Project Owner : <a traget="_blank" href="@ViewBag.ProjectOwnerHref">@ViewBag.ProjectOwner</a></h3>
</div>
