@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<br /> 
<h3>The Project Owner :  <a target="_blank" href="@ViewBag.OwnerHref">@ViewBag.Owner</a> </h3>

<br />
<br />
<br />
<p>Use this area to provide additional information.</p>
